<template>
  <header class="navbar">
    <router-link to="/"
      ><img src="../assets/logo/white-logo.svg"
    /></router-link>
    <nav class="navbar_links">
      <button @click="showModal()">
        <icon-add />
      </button>
      <button @click="toogle()">
        <img class="navbar_links_avatar" :src="user.avatar" />
      </button>
      <ul v-if="active" class="navbar_links_list">
        <li>
          <router-link to="/profile">Profil</router-link>
        </li>
        <li>
          <a @click="logout()">Déconnexion</a>
        </li>
      </ul>
    </nav>
  </header>
</template>

<script>
import IconAdd from "./icons/icon-add.vue";
export default {
  name: "NavBar",
  components: {
    IconAdd,
  },
  data() {
    return {
      active: false,
    };
  },
  methods: {
    toogle: function () {
      this.active = !this.active;
    },
    showModal: function () {
      this.$store.commit("showModal", {
        mode: "create",
        post: { title: "", description: "" },
      });
      this.active = false;
    },
    logout: function () {
      this.$store.commit("logout");
    },
  },
  computed: {
    user() {
      return this.$store.getters.getUserInfos;
    },
  },
};
</script>

<style lang="scss">
@import "../assets/scss/_variables";
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: $tertiary-color;
  position: relative;
  padding: 5px 20px;
  height: 50px;
  img {
    height: 100%;
  }
  a {
    font-weight: bold;
    color: white;
    cursor: pointer;
  }
  &_links {
    display: flex;
    align-items: center;
    button {
      width: 40px;
      height: 40px;
      margin-left: 20px;
    }
    &_avatar {
      border-radius: 50%;
      border: 2px solid white;
    }
    &_list {
      list-style: none;
      position: absolute;
      display: block;
      padding: 5px;
      background-color: $tertiary-color;
      right: 20px;
      top: 52px;
      z-index: 10;
      border-top: 2px solid $primary-color;
      border-radius: 5px;
    }
  }
}
</style>
