<template>
  <div v-if="posts.length > 0">
    <div class="post" v-for="(post, index) in posts" :key="index">
      <div class="post_infos">
        <div class="post_infos_author">
          <img :src="post.postedBy.avatar" class="post_infos_author_avatar" />
          <dl>
            <dt class="post_infos_author_name">
              {{ post.postedBy.first_name }} {{ post.postedBy.last_name }}
            </dt>
            <dd class="post_infos_author_date">
              Publié {{ formatDate(post.createdAt) }}
            </dd>
          </dl>
        </div>
        <div v-if="post.postedBy._id == user.id || user.admin">
          <button @click="showModal(post)">
            <icon-edit />
          </button>
          <button @click="deletePost(post._id)">
            <icon-trash />
          </button>
        </div>
      </div>
      <div class="post_content">
        <h3>{{ post.title }}</h3>
        <p>{{ post.description }}</p>
        <img
          v-if="post.imageUrl != null"
          :src="post.imageUrl"
          class="post_content_img"
        />
      </div>
      <button
        @click="likePost(post._id)"
        class="post_like"
        :class="{ post_like_active: isLiked(post.likes) }"
      >
        <span>{{ post.likes.length }}</span>
        <icon-like />
      </button>
    </div>
  </div>
  <div v-else class="post post_presentation">
    <h2>Bienvenue sur Groupomania !</h2>
    <p>
      Vous pouvez ajouter le premier message via l'icône dans la barre ci-dessus
    </p>
  </div>
</template>

<script>
import IconEdit from "./icons/icon-edit.vue";
import IconTrash from "./icons/icon-trash.vue";
import IconLike from "./icons/icon-like.vue";
import moment from "moment";

export default {
  name: "Post",
  components: {
    IconEdit,
    IconTrash,
    IconLike,
  },
  props: {
    user: Object,
  },
  data: function () {
    this.getPosts();
  },
  methods: {
    formatDate: function (value) {
      moment.locale("fr");
      return moment(value).fromNow();
    },
    isLiked: function (likes) {
      const userId = sessionStorage.getItem("userId");
      let userLike = likes.map((string) => string);
      return userLike.includes(userId) ? true : false;
    },
    getPosts() {
      this.$store
        .dispatch("getPosts")
    },
    showModal: function (post) {
      this.$store.commit("showModal", { mode: "edit", post: post });
    },
    likePost: function (id) {
      const self = this;
      this.$store
        .dispatch("likePost", id)
        .then(() => {
          self.$toast.success("Like modifié");
        })
        .catch(() => self.$toast.error("Erreur lors du like"));
    },
    deletePost: function (id) {
      const self = this;
      this.$store
        .dispatch("deletePost", id)
        .then(() => {
          self.$toast.success("Message supprimé");
        })
        .catch(() => self.$toast.error("Erreur lors de la suppression"));
    },
  },
  computed: {
    posts() {
      return this.$store.getters.getPosts;
    },
  },
};
</script>

<style lang="scss" scoped>
.post {
  margin: 20px;
  background-color: white;
  padding: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 20px;
  &_infos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    &_author {
      display: flex;
      align-items: center;
      &_avatar {
        width: 40px;
        margin-right: 10px;
        border-radius: 50%;
        height: 40px;
      }
      &_name {
        font-weight: 600;
      }
      &_date {
        font-size: 12px;
        color: grey;
      }
    }
  }
  &_content {
    word-wrap: break-word;
    &_img {
      width: 100%;
      object-fit: cover;
    }
  }
  &_like {
    padding: 10px;
    &_active {
      color: green;
      font-weight: bold;
      svg {
        fill: green;
      }
    }
  }
  &_presentation{
  text-align: center;
  }
}
</style>
