<template>
  <div class="modal" @click.self="close">
    <div class="modal_content">
      <div class="close">
        <p class="close_text" @click="close">X</p>
      </div>
      <h1 v-if="mode == 'edit'">Éditer un nouveau message</h1>
      <h1 v-else>Poster un nouveau message</h1>
      <form
        @submit.prevent="mode == 'edit' ? update(post._id) : save()"
        enctype="multipart/form-data"
      >
        <input
          v-model="post.title"
          class="form_input"
          type="text"
          placeholder="Titre du message"
        />
        <textarea
          v-model="post.description"
          class="form_input"
          id="description"
          type="textarea"
          placeholder="Contenu du message"
        />
        <div id="preview">
          <input
            type="file"
            @change="onFileChange"
            accept="image/*"
            ref="file"
          />
          <img
            id="preview_image"
            v-if="mode == 'edit' && !url && post.imageUrl != null"
            :src="post.imageUrl"
          />
          <img id="preview_image" v-if="url" :src="url" />
        </div>
        <button
          class="button"
          :class="{ button_disabled: !validatedFields }"
          :disabled="validatedFields ? false : true"
        >
          <span v-if="status == 'loading'">Sauvegarde en cours...</span>
          <span v-if="mode == 'edit'">Éditer le message</span>
          <span v-else>Envoyer le message</span>
        </button>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    mode: String,
    post: Object,
  },
  data: function () {
    return {
      url: null,
      file: "",
    };
  },
  computed: {
    validatedFields: function () {
      if (this.post.title != "" && this.post.description != "") {
        return true;
      } else {
        return false;
      }
    },
  },
  methods: {
    onFileChange() {
      const file = this.$refs.file.files[0];
      const allowedTypes = [
        "image/jpeg",
        "image/jpg",
        "image/png",
        "image/gif",
      ];
      if (allowedTypes.includes(file.type)) {
        this.file = file;
        this.url = URL.createObjectURL(file);
      } else {
        this.$toast.error("Type de fichier inconnu");
      }
    },
    update: function (id) {
      const self = this;
      const formData = new FormData();
      formData.append("title", this.post.title);
      formData.append("description", this.post.description);
      formData.append("file", this.file);
      this.$store
        .dispatch("modifyPost", { postId: id, postInfos: formData })
        .then(() => {
          self.$toast.success("Post modifié avec succès");
          self.close();
        })
        .catch(() => self.$toast.error("Erreur lors de la mise à jour"));
    },
    save: function () {
      const self = this;
      const formData = new FormData();
      formData.append("title", this.post.title);
      formData.append("description", this.post.description);
      formData.append("file", this.file);
      this.$store
        .dispatch("createPost", formData)
        .then(() => {
          self.$toast.success("Post publié avec succès");
          self.close();
        })
        .catch(() => self.$toast.error("Erreur lors de la création du post"));
    },
    close: function () {
      this.$store.commit("showModal", { mode: "", post: {} });
    },
  },
};
</script>

<style lang="scss">
@import "@/assets/scss/_variables.scss";
#preview {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  &_image {
    height: 100px;
    margin-top: 16px;
  }
}
.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000da;

  &_content {
    text-align: center;
    background-color: white;
    padding: 0 15px;
    border-radius: 20px;
    max-width: 425px;
    .close {
      display: flex;
      justify-content: center;
      &_text {
        background-color: $secondary-color;
        padding: 15px 30px;
        border-radius: 0 0 45px 45px;
        font-weight: bold;
        cursor: pointer;
      }
    }
    #description {
      height: 250px;
      margin-bottom: 16px;
      max-width: 100%;
      min-width: 100%;
      min-height: 35px;
    }
  }
}
</style>
