<template>
  <div class="profile">
    <img :src="user.avatar" class="profile_infos" />
    <div v-if="!edition" class="profile_infos">
      <h4>{{ user.firstName }} {{ user.lastName }}</h4>
      <p>{{ user.email }}</p>
      <button @click="switchEdition()" class="button button_primary">
        Modifier mon profil
      </button>
      <button @click="deleteProfile()" class="button button_secondary">
        Supprimer mon compte
      </button>
    </div>
    <div v-else>
      <form @submit.prevent="updateProfile()" enctype="multipart/form-data">
        <div class="profile_settings">
          <button><icon-valid /></button>
          <button @click="switchEdition()"><icon-close /></button>
        </div>
        <input
          type="file"
          @change="onFileChange"
          accept="image/*"
          ref="file"
        />
        <input
          v-model="user.firstName"
          type="text"
          class="form_input"
          placeholder="Prénom"
        />
        <input
          v-model="user.lastName"
          type="text"
          class="form_input"
          placeholder="Nom"
        />
        <input
          v-model="user.email"
          type="email"
          class="form_input"
          placeholder="Email"
        />
        <input
          v-model="actualPassword"
          type="password"
          class="form_input"
          placeholder="Mot de passe actuel"
        />
        <input
          v-model="password"
          type="password"
          class="form_input"
          placeholder="Nouveau mot de passe"
        />
        <input
          v-model="passwordConf"
          type="password"
          class="form_input"
          placeholder="Confimer le nouveau mot de passe"
        />
        <p class="instructions-pwd">
          Le mot de passe doit faire minimum 7 caractères, avec un chiffre, une
          lettre minuscule, une majuscule et un caratère spécial
        </p>
      </form>
    </div>
  </div>
</template>

<script>
import IconClose from "./icons/icon-close.vue";
import IconValid from "./icons/icon-valid.vue";

export default {
  components: { IconClose, IconValid },
  data: function () {
    return {
      edition: false,
      file: "",
      password: "",
      passwordConf: "",
      regexPassword:
        /(?=^.{7,}$)(?=.*[0-9])(?=.*[A-Z])(?=.*[a-z])(?=.*[^A-Za-z0-9]).*/,
    };
  },
  props: {
    user: Object,
  },
  methods: {
    onFileChange() {
      const file = this.$refs.file.files[0];
      const allowedTypes = ["image/jpeg", "image/jpg", "image/png"];
      if (allowedTypes.includes(file.type)) {
        this.file = file;
      } else {
        this.$toast.error("Type de fichier inconnu");
      }
    },
    switchEdition() {
      this.edition = !this.edition;
    },
    updateProfile: function () {
      const self = this;
      if (!this.regexPassword.test(this.password) && this.password != "") {
        self.$toast.error("Sécurité du mot de passe insuffisante");
        return;
      }
      if (this.password != this.passwordConf) {
        self.$toast.error("Les mots de passe ne correspondent pas");
        return;
      }
      const formData = new FormData();
      formData.append("first_name", this.user.firstName);
      formData.append("last_name", this.user.lastName);
      formData.append("email", this.user.email);
      formData.append("actualPassword", this.actualPassword);
      formData.append("password", this.password);
      formData.append("file", this.file);
      this.$store
        .dispatch("modifyProfile", formData)
        .then(() => {
          self.$toast.success("Profil utilisateur modifié avec succès");
          self.switchEdition();
        })
        .catch(() => self.$toast.error("Erreur lors de la mise à jour"));
    },
    deleteProfile: function () {
      const self = this;
      const userId = sessionStorage.getItem("userId");
      this.$store
        .dispatch("deleteUser", userId)
        .then(() => {
          self.$toast.success("Utilisateur supprimé");
        })
        .catch(() => self.$toast.error("Erreur lors de la suppression"));
    },
  },
};
</script>

<style lang="scss" scoped>
@import "@/assets/scss/_variables.scss";
.profile {
  margin: 15px 20px;
  background-color: white;
  padding: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  img {
    height: 100px;
    display: flex;
  }
  &_infos {
    text-align: center;
    margin: auto;
  }
  &_settings {
    position: absolute;
    top: 75px;
    right: 35px;
  }
}
.button {
  margin: 20px;
  width: inherit;
  &_primary {
    background: $primary-color;
  }
  &_secondary {
    background: $secondary-color;
  }
}
</style>
