<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    width="24px"
    height="24px"
    viewBox="0 0 24 24"
    version="1.1"
  >
    <path
      d="M 17.90625 5.414062 L 18.585938 6.09375 L 6.09375 18.582031 L 5.414062 17.90625 Z M 17.90625 5.414062 "
    />
    <path
      d="M 6.09375 5.414062 L 18.585938 17.90625 L 17.90625 18.585938 L 5.414062 6.09375 Z M 6.09375 5.414062 "
    />
  </svg>
</template>
