<template>
  <svg
    width="24px"
    height="24px"
    viewBox="0 0 24 24"
    role="img"
    xmlns="http://www.w3.org/2000/svg"
    aria-labelledby="okIconTitle"
    stroke="black"
    stroke-width="1"
    stroke-linecap="square"
    stroke-linejoin="miter"
    fill="none"
    color="black"
  >
    <polyline points="4 13 9 18 20 7" />
  </svg>
</template>
