<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    width="24px"
    height="24px"
    viewBox="0 0 24 24"
    version="1.1"
  >
    <path
      style="
        stroke: none;
        fill-rule: nonzero;
        fill: rgb(0.392157%, 0%, 0.784314%);
        fill-opacity: 1;
      "
      d="M 3.914062 22.519531 C 1.671875 22.519531 0.0664062 22.214844 0 22.199219 L 0.0898438 21.269531 C 4.027344 21.269531 6.855469 20.238281 8.488281 18.210938 C 10.335938 15.917969 10.136719 12.933594 9.996094 11.902344 L 3.15625 11.902344 L 13.578125 1.480469 L 24 11.902344 L 17.425781 11.902344 C 16.597656 21.125 8.636719 22.519531 3.914062 22.519531 Z M 5.425781 10.960938 L 10.773438 10.960938 L 10.855469 11.332031 C 10.894531 11.507812 11.765625 15.636719 9.226562 18.796875 C 8.199219 20.070312 6.777344 20.992188 4.972656 21.554688 C 10.191406 21.324219 16.023438 19.277344 16.523438 11.402344 L 16.550781 10.964844 L 21.730469 10.964844 L 13.578125 2.8125 Z M 5.425781 10.960938 "
    />
  </svg>
</template>
