<template>
  <div>
    <loading v-if="loading" />
    <PostForm
      v-show="showModal.display"
      :mode="showModal.mode"
      :post="showModal.post"
    />
    <router-view />
  </div>
</template>

<script>
import loading from "@/components/Loading.vue";
import PostForm from "@/components/PostForm.vue";

export default {
  components: {
    loading,
    PostForm,
  },
  computed: {
    loading() {
      return this.$store.getters.getStatus;
    },
    showModal() {
      return this.$store.getters.showModal;
    },
  },
};
</script>

<style lang="scss">
@import "@/assets/scss/_variables";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  a {
    text-decoration: none;
  }
  button {
    background: none;
    border: none;
    cursor: pointer;
  }
}
.button {
  background: $primary-color;
  color: white;
  border-radius: 8px;
  font-weight: 800;
  font-size: 15px;
  border: none;
  width: 100%;
  padding: 16px;
  margin: 20px 0 20px;
  transition: 0.4s background-color;
  &:hover {
    cursor: pointer;
  }
  &_disabled {
    background: $tertiary-color;
    color: white;
    &:hover {
      cursor: not-allowed;
      background: $tertiary-color;
    }
  }
}
.form_input {
  width: 100%;
  margin: 16px 0px 0px;
  padding: 8px;
  border: none;
  border-radius: 8px;
  background: #f2f2f2;
  font-weight: 500;
  font-size: 16px;
  flex: 1;
  min-width: 100px;
  color: black;
  &::placeholder {
    color: #aaaaaa;
  }
}
.instructions-pwd{
  margin-top: 10px;
}
</style>
