<template>
  <div>
    <nav-bar />
    <posts-list :user=user />
  </div>
</template>

<script>
import PostForm from '@/components/PostForm.vue'
import PostsList from "@/components/PostsList.vue";
import NavBar from '@/components/NavBar.vue';

export default {
  name: "HomeView",
  components: {
    PostsList,
    NavBar,
    PostForm
  },
  data: function () {
    this.getData()
  },
  methods: {
    getData() {
      const self = this;
      this.$store.dispatch("getCurrentUser").then().catch(() => {
          self.$toast.error("Impossible de récupérer l'utilisateur actuel");
          sessionStorage.clear();
          self.$router.push("/login");
        }
      );
    },
  },
  computed: {
    user() {
      return this.$store.getters.getUserInfos
    },
  },
};
</script>