<template>
  <div class="main">
    <div class="card">
      <img src="../assets/logo/black-logo.svg" />
      <hr class="card_separator" />
      <nav>
        <ul class="card_choice">
          <li
            @click="switchToLogin()"
            :class="[mode == 'login' ? 'active' : '']"
          >
            Connexion
          </li>
          <li
            @click="switchToCreateAccount()"
            :class="[mode == 'create' ? 'active' : '']"
          >
            Inscription
          </li>
        </ul>
      </nav>
      <input
        v-model="email"
        class="form_input"
        type="email"
        placeholder="Adresse mail"
      />
      <div class="card_form" v-if="mode == 'create'">
        <input
          v-model="firstName"
          class="form_input"
          type="text"
          placeholder="Prénom"
        />
        <input
          v-model="lastName"
          class="form_input"
          type="text"
          placeholder="Nom"
        />
      </div>
      <input
        v-model="password"
        class="form_input"
        type="password"
        placeholder="Mot de passe"
      />
      <p v-if="mode == 'create'" class="instructions-pwd">
        Le mot de passe doit faire minimum 7 caractères, avec un chiffre, une
        lettre minuscule, une majuscule et un caratère spécial
      </p>
      <button
        @click="mode == 'login' ? login() : createAccount()"
        class="button"
        :class="{ button_disabled: !validatedFields }"
        :disabled="validatedFields ? false : true"
      >
        <span v-if="status == 'loading'">connexion en cours...</span>
        <span v-if="mode == 'create'">Créer mon compte</span>
        <span v-else>Connexion</span>
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: "Login",
  data: function () {
    return {
      mode: "login",
      email: "",
      firstName: "",
      lastName: "",
      password: "",
      viewPassword: false,
      regexText: /^[a-zA-Z-\s]+$/,
      regexEmail: /^[a-zA-Z0-9.-_]+[@]{1}[a-zA-Z0-9.-_]+[.]{1}[a-z]{2,10}$/,
      regexPassword:
        /(?=^.{7,}$)(?=.*[0-9])(?=.*[A-Z])(?=.*[a-z])(?=.*[^A-Za-z0-9]).*/,
    };
  },
  computed: {
    validatedFields: function () {
      if (this.mode == "create") {
        if (
          this.email != "" &&
          this.firstName != "" &&
          this.lastName != "" &&
          this.password != ""
        ) {
          return true;
        } else {
          return false;
        }
      } else {
        if (this.email != "" && this.password != "") {
          return true;
        } else {
          return false;
        }
      }
    },
  },
  methods: {
    switchToCreateAccount: function () {
      this.mode = "create";
    },
    switchToLogin: function () {
      this.mode = "login";
    },
    login: function () {
      const self = this;
      if (!this.regexEmail.test(this.email)) {
        self.$toast.error("Email non valide");
        return;
      }
      this.$store
        .dispatch("login", {
          email: this.email,
          password: this.password,
        })
        .then(() => {
          self.$toast.success("Bienvenue !");
          self.$router.push("/");
        })
        .catch(() => {
          self.$toast.error("Mot de passe ou email incorrect");
        });
    },
    createAccount: function () {
      const self = this;
      if (!this.regexEmail.test(this.email)) {
        self.$toast.error("Email non valide");
        return;
      }
      if (
        !this.regexText.test(this.firstName) ||
        !this.regexText.test(this.lastName)
      ) {
        self.$toast.error("Prénom et nom ne contiennent que des lettres");
        return;
      }
      if (!this.regexPassword.test(this.password)) {
        self.$toast.error("Sécurité du mot de passe insuffisante");
        return;
      }
      this.$store
        .dispatch("createAccount", {
          email: this.email,
          firstName: this.firstName,
          lastName: this.lastName,
          password: this.password,
        })
        .then(() => {
          self.login();
        })
        .catch(() => {
          self.$toast.error("Erreur lors de l'inscription");
        });
    },
  },
};
</script>

<style scoped lang="scss">
.card {
  max-width: 100%;
  width: 540px;
  background: white;
  border-radius: 16px;
  padding: 32px;
  position: relative;
  img {
    max-width: 100%;
    border-radius: 8px;
  }
  &_separator {
    margin: 15px;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, #ccc, transparent);
  }
  &_choice {
    display: flex;
    justify-content: space-around;
    list-style: none;
    cursor: pointer;
    .active {
      font-weight: 600;
    }
  }
  &_form {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
  }
}
.main {
  height: 100vh;
  background-image: url("../assets/background-login.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
