<template>
  <div>
    <nav-bar />
    <user-infos :user=user />
  </div>
</template>

<script>
import NavBar from "@/components/NavBar.vue";
import UserInfos from '@/components/UserInfos.vue';

export default {
  name: "Profile",
  components: {
    NavBar,
    UserInfos
  },
  data: function () {
    this.getData()
  },
  methods: {
    getData() {
      const self = this;
      this.$store.dispatch("getCurrentUser").then().catch(() => {
          self.$toast.error("Impossible de récupérer l'utilisateur actuel");
          sessionStorage.clear();
          self.$router.push("/login");
        }
      );
    },
  },
  computed: {
    user() {
      return this.$store.getters.getUserInfos;
    },
  },
};
</script>